<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
    <head>
        <title>Gabriel Mustiere | {% block titre %}Accueil{% endblock %}</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Web Fonts -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/OpenSans-Regular.ttf') }}">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="{{ asset('assets/css/headers/header-v4.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/footers/footer-v1.css') }}">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">

        <!-- Timeline -->
        <link rel="stylesheet" href="{{ asset('assets/css/pages/shortcode_timeline2.css') }}">

        <!-- Cube Portfolio -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css') }}">

    </head>

    <body>

        <div class="wrapper">

            <!--Header-->
            <div class="header-v4">
                <div class="navbar navbar-default mega-menu" role="navigation">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div>
                                    <h1><span class="color-green">[</span> Gabriel Mustiere <span class="color-green">]</span></h1>
                                </div>
                                <div>
                                    <h4><span class="color-green"></span> Concepteur d'application PHP</h4>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <button class="btn-u" type="button" style="margin-left: 400px; margin-top: 25px"><i class="fa fa-download"></i> Télécharger le cv</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--Liste de navigation-->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <div class="container">
                            <ul class="nav navbar-nav">
                                <li {% if app.request.attributes.get('_route') == "cv_accueil" %}class="active"{% endif %}>
                                    <a href="{{ path('cv_accueil') }}">
                                        Accueil
                                    </a>
                                </li>
                                <li {% if app.request.attributes.get('_route') == "cv_experiences" %}class="active"{% endif %}>
                                    <a href="{{ path('cv_experiences') }}">
                                        Expériences
                                    </a>
                                </li>
                                <li {% if app.request.attributes.get('_route') == "cv_formations" %}class="active"{% endif %}>
                                    <a href="{{ path('cv_formations') }}">
                                        Formations
                                    </a>
                                </li>
                                <li {% if app.request.attributes.get('_route') == "cv_competences" %}class="active"{% endif %}>
                                    <a href="{{ path('cv_competences') }}">
                                        Compétences
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        Loisirs
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin header-->


            <!--Descriptif-->
            <div class="bg-color-light">
                <div class="container content-xs">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 text-center">
                            <img src="{{ asset('assets/img/profil/gabriel.jpg') }}" alt="" class="img-responsive img-bordered">
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <p class="text-justify">Passionné d'informatique depuis longtemps, j'ai choisi de devenir développeur WebApp. Spécialisé en <span class="color-green">PHP</span>, je dispose aussi de bonnes connaissances dans les technologies <span class="color-green">HTML/CSS/JS</span>.
                                Je pratique la veille
                                technologique dans différents
                                domaines, les langages que je pratique, les frameworks <span class="color-green">PHP</span> et les frameworks <span class="color-green">JS</span>, les bases de données mais aussi l'<span class="color-green">PHP</span> car j'accorde une grande importance à l'ergonomie
                                des applcations que je réalise.
                            </p>
                            <p class="text-justify">De part mes différentes missions, je suis fortement sensibilisé au metier du commerce (retail, e-commerce, commerce omni-canal et multi-canal...)</p>
                            <div class="pull-right">
                                <button class="btn-u btn-u-xs" type="button">En savoir plus...</button>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 color-dark">
                            <span class="margin-left-10">&nbsp;&nbsp;30 ans | Véhiculé | Nantes</span>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div>
                                <span class="label label-u">Analyse et conception</span>
                                <span class="label label-u">Développement</span>
                                <span class="label label-u">Test</span>
                                <span class="label label-u">Gestion de projet</span>
                                <span class="label label-u">Management</span>
                                <span class="label label-u">UX</span>
                                <span class="label label-u">ISO9001</span>
                                <span class="label label-u">ISO25051</span>
                                <span class="label label-u">NF525</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin descriptif-->

            {% block contenu %}

                {{ include("CvBundle:Home:contenu.experiences.html.twig") }}

                {{ include("CvBundle:Home:contenu.formations.html.twig") }}

                {{ include("CvBundle:Home:contenu.competences.html.twig") }}

            {% endblock %}

            <!--Footer-->
            <div class="footer-v1">
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    2016 &copy; Gabriel Mustiere
                                    <a href="#">Conditions d'utilisations</a> | <a href="#">A propos</a>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <ul class="footer-socials list-inline">
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                            <i class="fa fa-skype"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Github">
                                            <i class="fa fa-github"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Social Links -->
                        </div>
                    </div>
                </div><!--/copyright-->
            </div>
            <!--=== End Footer Version 1 ===-->
        </div><!--/wrapper-->

        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/plugins/smoothScroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
        <!-- JS Customization -->
        <script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>
        <!-- JS Page Level -->
        <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/plugins/cube-portfolio/cube-portfolio-3.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                App.init();
            });
        </script>


    </body>
</html>