{% extends('::layout.html.twig') %}

{% block contenu %}

    <div class="container content-xs">
        <div class="headline-center">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Formulaire compétence</h2>

                    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}


                    <div class="form-group">

                        {{ form_label(form.libelle,"Libellé",{'label_attr':{'class':'col-sm-3 control-label'}}) }}

                        <div class="col-sm-9">

                            {{ form_widget(form.libelle,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>

                    <div class="form-group">

                        {{ form_label(form.note,"Note",{'label_attr':{'class':'col-sm-3 control-label'}}) }}

                        <div class="col-sm-9">

                            {{ form_widget(form.note,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>

                    <div class="form-group">

                        {{ form_label(form.familleCompetence,"Famille de compétence",{'label_attr':{'class':'col-sm-3 control-label'}}) }}

                        <div class="col-sm-9">

                            {{ form_widget(form.familleCompetence,{'attr':{'class':'form-control'}}) }}

                        </div>

                    </div>

                    <div class="form-group">

                        {{ form_widget(form.ajouter,{'attr':{'class':'btn-u'}}) }}

                    </div>

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}