<!--Titre expériences-->
<div class="container content-xs">
    <div class="headline-center">
        <h2>Expériences</h2>
    </div>
</div>
<!--Fin titre expériences   -->

<!--Expériences-->
<div class="container content-xs">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline-v2">

                {% for experience in experiences %}

                    <li class="equal-height-columns">
                        <div class="cbp_tmtime equal-height-column"><span>02/2013</span> <span>Aujourd'hui</span></div>
                        <i class="cbp_tmicon rounded-x hidden-xs"></i>
                        <div class="cbp_tmlabel equal-height-column">
                            <h2>{{ experience.titre }}</h2>
                            <div class="row margin-bottom-10">
                                <div class="col-md-3 color-dark">
                                    <img class="img-responsive" src="{{ asset('assets/img/enterprise/thalassa.png') }}"
                                         alt="">
                                    <div class="text-center"><a style="color : #72C02C!important"
                                                                href="http://{{ experience.entreprise.web }}">{{ experience.entreprise.web }}</a>
                                    </div>
                                    <div class="text-center">
                                        {{ experience.entreprise.adresse }} {{ experience.entreprise.codepostal }} {{ experience.entreprise.ville }}
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <p>
                                        {{ experience.description }}
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <div>
                                                <h5><strong>Mission 1</strong></h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at
                                                    commodi dicta, doloribus eius ex facilis laboriosam minima neque
                                                    nihil
                                                    obcaecati provident qui reiciendis rem repellat repudiandae rerum
                                                    soluta
                                                    tempore.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h5><strong>Mission 2</strong></h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at
                                                    commodi dicta, doloribus eius ex facilis laboriosam minima neque
                                                    nihil
                                                    obcaecati provident qui reiciendis rem repellat repudiandae rerum
                                                    soluta
                                                    tempore.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <h5><strong>Mission 3</strong></h5>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam at
                                                    commodi dicta, doloribus eius ex facilis laboriosam minima neque
                                                    nihil
                                                    obcaecati provident qui reiciendis rem repellat repudiandae rerum
                                                    soluta
                                                    tempore.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">

                                </div>
                            </div>
                        </div>
                    </li>

                {% endfor %}

                <li class="equal-height-columns">
                    <div class="cbp_tmtime equal-height-column" style="height: 203px;"><span>7/2/09</span> <span>February</span>
                    </div>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel equal-height-column" style="height: 233px;">
                        <h2>First achievements</h2>
                        <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu
                            courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane
                            collard greens spring onion squash lentil. Artichoke salad bamboo shoot
                            black-eyed pea brussels sprout garlic kohlrabi.
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                    <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                    <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                    <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida</li>
                                    <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                    <li><i class="fa fa-check color-green"></i> Responsive Bootstrap Template</li>
                                    <li><i class="fa fa-check color-green"></i> Corporate and Creative</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>