<!--Formations-->
<div class="bg-color-light">
    <div class="container content-xs">
        <div class="headline-center">
            <h2>Formations</h2>
        </div>
        <div class="cube-portfolio container margin-bottom-20">
            <div id="grid-container" class="cbp-l-grid-agency">
                <div class="cbp-item graphic">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{ asset('assets/img/formation/cesi.jpg') }}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div style="color: #FFFFFF">Manager des sytèmes d'information</div>
                                    <div style="color: #FFFFFF; margin-bottom: 5px">NIV 1 (Bac+5)</div>
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="{{ asset('assets/img/main/img3.jpg') }}" class="" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">MSI 2017</div>
                        <div class="cbp-l-grid-agency-desc">CESI</div>
                    </div>
                </div>
                <div class="cbp-item web-design logos">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{ asset('assets/img/formation/eni.jpg') }}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div style="color: #FFFFFF">Concepteur développeur informatique</div>
                                    <div style="color: #FFFFFF; margin-bottom: 5px">NIV 2 (Bac+4)</div>
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="{{ asset('assets/img/main/img3.jpg') }}" class="" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">CDI 2015</div>
                        <div class="cbp-l-grid-agency-desc">ENI</div>
                    </div>
                </div>
                <div class="cbp-item graphic logos">
                    <div class="cbp-caption margin-bottom-20">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{ asset('assets/img/formation/afpa.jpg') }}" alt="">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <div style="color: #FFFFFF">Développeur logiciel</div>
                                    <div style="color: #FFFFFF; margin-bottom: 5px">NIV 3 (Bac+2)</div>
                                    <ul class="link-captions no-bottom-space">
                                        <li><a href="http://www.google.Fr" class="" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cbp-title-dark">
                        <div class="cbp-l-grid-agency-title">DL 2013</div>
                        <div class="cbp-l-grid-agency-desc">AFPA</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Fin formations-->